<h3>{{product['name']}}</h3>

<p>{{product['category']}}</p>
<p>$ {{product['price']}}</p>

<p>{{product['price']|default('Sin precio', True)}}</p>

{{ "<h1>Filtro safe: Hola Mundo</h1>" | safe }}

<p>{{ "Filtro truncate: Esto es la descripcion de un producto bastante chulo" | truncate(33) }}</p>
<p>{{ "Filtro truncate: Esto es la descripcion de un producto bastante chulo" | count }}</p>
<p>Filtro float: {{70 | float}}</p>
<p>Filtro int: {{"70" | int}}</p>
<p>Filtro round: {{3.1415926535 | round(3) }}</p>
<p>Filtro join: {{["iPhone","iPad"] | join(", ")}}</p>
<p>Filtro length: {{["iPhone","iPad"] | length}}</p>
<p>{{ {'ofer': False, 'price' : 50.5, 'k' : 45} | tojson}}</p>

<p>Filtro gobal custom {{product['price'] | mydouble}}</p>

<p>Filtro local custom {{product | iva}}</p>