{% extends 'layout/base.html' %}

{% block container %}
    {% include 'auth/_message.html' %}
    <form action="{{ url_for('fauth.register') }}" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        {{ form.username.label }}
                        {{ form.username(class="form-control", placeholder="Usuario", autocomplete="off") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(class="form-control", placeholder="Contraseña") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        {{ form.confirm.label }}
                        {{ form.confirm(class="form-control", placeholder="Repetir Contraseña") }}
                    </div>
                    <input class="btn btn-success" type="submit" value="Enviar">
                </div>
            </div>
        </div>
    </form>
    <br>
{% endblock %}